
.espositore{

    /*determina la visualizzazione
    degli oggetti "uno dopo l'altro"*/
    
    display: inline-table;
    
    /* determinano le dimensioni
    dell'oggetto*/
   
    height: 170px;
    width: 170px;
    
    margin-top: 10%;
    margin-left: 20%;
    
    /*cambiando il parametro border-radius
    possiamo determinare la "sfericità dell'oggeto
    che si va a disegnara"*/
    
    border-radius: 50%;
    /*Impostiamo l'immagine dell'espositore come sfondo*/

    background-image: url("img/espositore.png");
    background-size: 100% 100%;
    
}

.espositore .tessera{

    display: inline-block;
    
    /* determinano le dimensioni
    dell'oggetto*/
   
    height: 25px;
    width: 25px;

    margin-top: 12%;
    margin-left: 13%;
    margin-right: 11%;

    background-image: url("img/TessereAzul/rosso.png");
    background-size: 100% 100%;

}

.button {
      width: 300px;
      height: 60px;
      background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); 
      border: none;
      border-radius: 5px;
      position: relative;
      border-bottom: 4px solid #2b8bc6;
      color: #fbfbfb;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      text-shadow: 1px 1px 1px rgba(0,0,0,.4);
      font-size: 15px;
      text-align: left;
      text-indent: 5px;
      box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
      cursor: pointer;

    
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 20px;

}